@font-face {
  font-family: "TheBoldFont";
  src: url("Fonts/THEBOLDFONT-FREEVERSION.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Coolvetica";
  src: url("Fonts/Coolvetica\ Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sunlight";
  src: url("Fonts/Sunlight\ Dreams.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vogue";
  src: url("Fonts/Classyvogueregular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body{
    margin: 0px;  
}
a {
    color: inherit;
    text-decoration: none;
}
.body {
    display: flex;
    justify-content: center;
}
.bigImage{
    width:100%;
    margin: 0px;
    position: relative;
    padding: 0px;
    background-image: linear-gradient(rgb(121, 121, 255),rgb(255, 194, 81),white);
    min-height: 400px;
}
.image {
    margin:0px;
    width: 100%;
    height:100%;
    object-fit: contain;
    display:inline-block;
}
.TitleDiv {
    width:100%;
    height: 100px;
    object-fit: contain;
    margin:0px;
    text-align: center;
    position: absolute;
    z-index: 10;
}

.Title {
    font-family: "TheBoldFont", sans-serif;
    padding: 0px;
    font-size: 60px;
}
.TextContainer {
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
}
.Line0 {
    color: white;
    font-family: "Vogue";
    text-align: left;
    font-size: 30px;
    margin-left: 40px;
    margin-bottom:15px;
}
.Line1, .Line2 {
    color: white;
    font-family: "Sunlight", sans-serif;
    font-size: 55px;
    margin-left: 40px;
    margin-top:0px;
    margin-right:0px;
    padding: 0px;
    margin-bottom : 10px ;
}
.Line2 {
    margin-bottom:40px;
}
.button {
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-family: "Vogue";
    background-color: rgb(255, 255, 255);
    border: 0px solid;
    border-radius: 10px;
    margin-top: 0px;
    margin-left:40px;
    margin-bottom: 20px;
    transition: 200ms;
    cursor: pointer;
}
.button:hover {
    transition: 200ms;
    background-color: rgb(219, 219, 219);
    box-shadow: 5px 2px 20px rgb(0, 0, 0,0.3);
}
.secondTitle {
    width:100%;
    margin:0;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.secondTitle p {
    font-family: "TheBoldFont";
}
.bottomPart {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.Card {
    width:300px;
    height:400px;
    border-radius: 30px;
    transition:300ms;
    padding: 0px;
}
.Card:hover {
    box-shadow: 5px 3px 30px 5px rgb(104, 103, 103);
    transition:300ms;
}
.cardImage {
    margin:0px;
    width: 100%;
    height: 101%;
    display: block;
    object-fit: cover;
}
.cardImageWrapper {
    width:300px;
    height:300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 0px;
    background-color: white;
    overflow: hidden;
}
.upperWrapper {
    height:85px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 0px;
    margin: 0px;
}

.caption{
    font-size: 24px;
    font-family: "Vogue";
    text-align: left;
    margin-left: 25px;
    margin-bottom: 0px;
}
.price {
    font-family: "Vogue";
    padding: 0px;
    font-size: 15px;
    color: rgb(49, 49, 49);
    margin-left: 27px;
    margin-top: 5px;
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Footer Styles */
.footer {
    width: 100%;
    background-color: rgb(31, 21, 21);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 80px;
    margin-top: 80px;
    gap: 50px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.footer-left {
    flex: 1;
    max-width: 500px;
}

.footer-brand {
    font-family: "TheBoldFont", sans-serif;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 15px;
}

.footer-description {
    font-family: "Vogue", serif;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.85);
    margin: 0;
}

.footer-right {
    flex: 0;
    min-width: 200px;
}

.footer-title {
    font-family: "Vogue", serif;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    font-family: "Vogue", serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
    transition: 200ms;
}

.footer-links a:hover {
    color: white;
    text-decoration: underline;
    transition: 200ms;
}

/* ===== RESPONSIVE STYLES ===== */

/* Tablets and smaller */
@media (max-width: 1024px) {
    .TextContainer {
        left: 70%;
        width: 350px;
    }
    
    .Line1, .Line2 {
        font-size: 45px;
    }
    
    .Line0 {
        font-size: 26px;
    }
}

/* Mobile landscape and smaller tablets */
@media (max-width: 768px) {
    .Title {
        font-size: 45px;
    }
    
    .TextContainer {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }
    
    .Line0, .Line1, .Line2, .button {
        margin-left: 0;
    }
    
    .Line0 {
        font-size: 24px;
        text-align: center;
    }
    
    .Line1, .Line2 {
        font-size: 38px;
        text-align: center;
    }
    
    .button {
        display: block;
        margin: 20px auto;
    }
    
    .secondTitle {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .bottomPart {
        margin-left: 20px;
        margin-right: 20px;
        gap: 15px;
    }
    
    .footer {
        flex-direction: column;
        padding: 40px 30px;
        margin-top: 60px;
    }
    
    .footer-left {
        max-width: 100%;
    }
    
    .footer-brand {
        font-size: 32px;
    }
}

/* Mobile portrait */
@media (max-width: 480px) {
    .Title {
        font-size: 36px;
    }
    
    .TitleDiv {
        height: 80px;
    }
    
    .TextContainer {
        width: 95%;
        padding: 5px;
    }
    
    .Line0 {
        font-size: 20px;
    }
    
    .Line1, .Line2 {
        font-size: 32px;
    }
    
    .button {
        width: 160px;
        height: 45px;
        font-size: 18px;
    }
    
    .secondTitle {
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .bottomPart {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .Card {
        width: 280px;
        height: 380px;
    }
    
    .cardImageWrapper {
        width: 280px;
        height: 280px;
    }
    
    .caption {
        font-size: 22px;
        margin-left: 20px;
    }
    
    .price {
        font-size: 14px;
        margin-left: 22px;
    }
    
    .footer {
        padding: 30px 20px;
        margin-top: 40px;
    }
    
    .footer-brand {
        font-size: 28px;
    }
    
    .footer-description {
        font-size: 14px;
    }
    
    .footer-title {
        font-size: 18px;
    }
    
    .footer-links a {
        font-size: 14px;
    }
}